---
Checks: '*,
        -concurrency-mt-*,
        -fuchsia-*,
        -google-*,
        -zircon-*,
        -abseil-*,
        -altera-struct-*,
        -altera-unroll-loops,
        -altera-id-dependent-backward-branch,
        -modernize-use-trailing-return-type,
        -llvmlibc-callee-namespace,
        -misc-non-private-member-variables-in-classes,
        -readability-function-cognitive-complexity,
        -cppcoreguidelines-macro-usage,
        -cppcoreguidelines-pro-type-static-cast-downcast,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -readability-convert-member-functions-to-static,
        -readability-redundant-access-specifiers,
        -bugprone-branch-clone,
        -llvmlibc-*,
        -llvm-header-guard,
        -llvm-include-order,
        -misc-no-recursion,
        -misc-unused-using-decls,
        -misc-unused-alias-decls,
        -bugprone-easily-swappable-parameters,
        -cppcoreguidelines-virtual-class-destructor,
        -cppcoreguidelines-avoid-const-or-ref-data-members,
        -readability-duplicate-include
        -cert-env33-c,
        -misc-no-recursion'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle: webkit
CheckOptions:
  readability-identifier-length:
    MinimumVariableNameLength: 2
    MinimumParameterNameLength: 2