---
BasedOnStyle: WebKit
Language: Cpp
Standard: c++20
AlignAfterOpenBracket: BlockIndent
AlignOperands: AlignAfterOperator
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Empty
ConstructorInitializerIndentWidth: 0
FixNamespaceComments: true
AlignTrailingComments: true
AlignConsecutiveBitFields: true
SortIncludes: CaseSensitive
IncludeCategories:
  - Priority: 1
    Regex: ^"pch\.hpp"
  - Priority: 3
    Regex: ^<gtest/
  - Priority: 2
    Regex: ^<
  - Priority: 4
    Regex: .*
StatementMacros:
  - NO_COPY_AND_MOVE
  - TRY
  - TRY_ASSIGN
  - TRY_DECL
  - TRY_ADD
  - MUST
IfMacros:
  - TRY_IF
  - TRY_IF_NOT
ForEachMacros:
  - TRY_WHILE
