BasedOnStyle: WebKit
Language: Cpp
Standard: c++20
AlignAfterOpenBracket: BlockIndent
AlignOperands: AlignAfterOperator
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Empty
ConstructorInitializerIndentWidth: 0
FixNamespaceComments: true
IncludeCategories:
  - Priority: 1
    Regex: ^"pch\.hpp"
  - Priority: 4
    Regex: ^<|"llvm/
  - Priority: 3
    Regex: ^(<|"(gtest|gmock|isl|json)/)
  - Priority: 2
    Regex: .*
