Checks: '-*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  hicpp-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -misc-no-recursion,
  -readability-function-cognitive-complexity,
'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
CheckOptions:
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: 'true'
  - key: readability-identifier-length.MinimumVariableNameLength
    value: '2'
  - key: readability-identifier-length.MinimumParameterNameLength
    value: '2'
