# Global
.DS_Store

# IDEs
.vs/
.vscode/
.idea/
.zed/
.cache/

# AIs
.claude/

# build
build/
bin/

# cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CMakeSettings.json
