# Global
.DS_Store

# Visual Studio (code)
.vs/
.vscode/
*.pdb
*.ilk

# LLVM intermediate files
*.ll
*.bc
*.o
*.a
*.out
*.json

# 
DerivedData/
build/

# intellij/clion
.idea/

# cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CMakeSettings.json
_deps

# lbc
/samples/[^\.]*
/samples/*.dump.bas
/bin/lbc
/bin/lbc.exe
.run/
